.input {
    width: 90%;
    display: flex;
    align-items: center;
    position: relative;
}

.input_box {
    width: 100%;
    border-radius: 50px;
    padding: 20px 30px;
    font-size: 26px;
    border: none;
    transition: 0.2s;
    box-shadow: inset 0 0 5px black;
}

.input_box:focus {
    box-shadow: 0 0 10px 1000px rgba(0, 0, 0, 0.4);
    outline: none;
}

.input_submit_btn {
    cursor: pointer;
    width: 50px;
    height: 50px;
    font-size: 16px;
    color: blue;
    border-radius: 100%;
    position: absolute;
    right: 0;
    margin-right: 12px;
    border: none;
    box-shadow: 0 0 8px black;
    background-color: antiquewhite;
    transition: 0.2 all;

}

.input_submit_btn:hover {
    background-color: rgb(248, 242, 233);
}

.input_submit_btn:active {
    transform: scale(0.85);
    box-shadow: 0 0 5px black;
}